<!DOCTYPE html>
<html>
  <head>
    <title>wills.fyi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-header">
      <%= link_to 'wills.fyi', root_url, class: 'header-title' %>
      <div class="header-links">
        <%= link_to 'About me', about_path %>
        <%= link_to 'Blog', '/' %>
        <%= link_to 'Resume', resume_path %>
      </div>
    </div>
    <div class="body-content">
      <%= yield %>
    </div>
  </body>
</html>
